/* ==========================================================================
   #HR
   ========================================================================== */

hr {
  display: block;
}

.underline {
	width: 50px;
    margin: 0 auto 40px auto;
    background: black;
    height: 2px;
    &.bright {
    	background: #f2f2f2;
    }
}
