.pagination-box {
	padding: 0 13px;
	width: 100%;
	.pagination {
		flex-wrap: wrap;
		h2 {
			width: 100%;
			display: block;
			margin-bottom: 5px;
		}
		.nav-links {
			width: 100%;
			display: block;
			margin-top: 10px;
			.page-numbers {
				padding: 0 10px;
				&.current {
					font-size: 20px;
					font-weight: 600;
					padding: 5px 10px;
					border: 1px solid grey;

				}
				&.prev {
					padding-left: 0;
				}
			}
		}
	}
		.page-numbers {
		padding: 0 10px;
		&.current {
			font-size: 20px;
			font-weight: 600;
			padding: 5px 10px;
			border: 1px solid grey;

		}
		&.prev {
			padding-left: 0;
			font-size: 24px;
		}
		&.next {
			font-size: 24px;
		}
	}

}